.roomsPage {
  padding: 20px;
}

.roomsPage__btn {
  margin: 15px 0;
}


.roomCard {
  border: 1px solid #999;
  padding: 25px 15px;
  box-sizing: border-box;
  border-radius: 8px;
  height: 300px;
  width: 200px;
  flex-direction: column;
  display: flex;
  margin: 10px;
}

.roomCard__info {
  font-size: 14px;
}

.roomCard__name {
  margin-top: 10px;
  font-size: 26px;
  text-align: center;
}

.roomCard__btn {
  margin-top: auto;
  width: 100%;
}
